
  <div class='footer__content'>
    <div class="footer-buttons">
      {{ partial "social-icons.html" .}}
    </div>
  </div>

  <div class='footer-more'>
    <a href="/about">About</a>&nbsp;|&nbsp;<a href='https://www.buymeacoffee.com/nicolakollmann'>Buy me a coffee</a>&nbsp;|&nbsp;<a href='/contact'>Contact</a> 
  </div>

  <div class='credits'>
    <div class='credits-people'>
      <p>&#169; 2020 <a href="https://github.com/NicolaKollmann">Nicola Kollmann</a>. All rights reserved. Crafted with {{ partial "icon.html" "heart" }} in Liechtenstein.</p>
  <br>
  <p><small>&#10218;&nbsp;<a href ="https://github.com/NicolaKollmann/myblog">View the source of this blog on GitHub</a>&nbsp;&#10219;</small></p>
  </div>



{{ if $.Scratch.Get "highlight_enabled" }}
  {{ $highVer := .Site.Params.highlightjsVersion }}
  {{ $highCDN := (.Site.Params.highlightjsCDN | default "//cdn.bootcss.com")}}
  {{ $highLang := .Site.Params.highlightjsLang }}
  <script src="https:{{ $highCDN }}/highlight.js/{{ $highVer }}/highlight.min.js"></script>
  {{ range .Site.Params.highlightjsLang }}
    <script src="https:{{ $highCDN }}/highlight.js/{{ $highVer }}/languages/{{ . }}.min.js"></script>
  {{ end }}
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{{ end }}


  <script src="{{ "js/theme.js" | absURL }}"></script>
