<!DOCTYPE html>
<html lang="en-US">

<head>
  
  <!-- Topbar -->
  <script src="/js/jquery-1.10.2.min.js"></script>
  <script src="/js/topbar.js"></script>
  <script>
      $(function() {
          // Page load
          topbar.show()
          setTimeout(function() {
            $('#main_content').fadeIn('slow')
            topbar.hide()
          }, 1500)
      })
  </script>
  
  <!-- Fork me on GitHub -->
      <style>
        .github-fork-ribbon.right-top:before {
            background-color: var(--content);
        }
        .github-fork-ribbon.right-top:after {
            /* Set the text properties */
            color: var(--page);
            font: 700 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
            /* Add "stitching" effect */
            border-color: var(--page);
        }
        .github-fork-ribbon.right-top:hover, .github-fork-ribbon.right-top:active {
            background-color: #a00;
        }
      </style>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175025652-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175025652-1');
  </script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/opengraph.html" . }}
  
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <!-- <link rel="icon" type="image/png" href="{{ "imgPath" | relURL }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL }}">
  <link rel="stylesheet" type="text/css" href="{{ "css/variables.css" | relURL }}">
  <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Indie+Flower&family=Ubuntu&display=swap" rel="stylesheet">
  
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML">
  </script>
  
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

 <!-- Set a scratch value of highlight_enabled based on whether the "highlight" param is set to true or false -->

  {{ if isset .Site.Params "highlight" }}
    {{ .Scratch.Set "highlight_enabled" true }}
    {{ $highVer := .Site.Params.highlightjsVersion }}
    {{ $highCDN := (.Site.Params.highlightjsCDN | default "//cdn.bootcss.com")}}
    {{ $custom := .Site.Params.custom }}
    {{ if $custom }}
      <link rel="stylesheet" type="text/css" href="{{ "css/custom-light-syntax.css" | relURL }}" id="syntaxLight">
      <link rel="stylesheet alternate" type="text/css" href="{{ "css/custom-dark-syntax.css" | relURL }}" id="syntaxDark">
    {{ else }}
      {{ $light := (.Site.Params.highlightjsThemeLight | default "github-gist")}}
      <link rel="stylesheet" href="{{ $highCDN }}/highlight.js/{{ $highVer }}/styles/{{ $light }}.min.css" id="syntaxLight">
      {{ $dark := (.Site.Params.highlightjsThemeDark | default "atom-one-dark" )}}
      <link rel="stylesheet alternate" href="{{ $highCDN }}/highlight.js/{{ $highVer }}/styles/{{ $dark }}.min.css" id="syntaxDark"></script>
    {{ end }}

  {{ end }}

</head>
