<section class="intro">
  <div class='intro-container'>

    <img class='introImage' src='images/introImage-light.png'>

    <div class="intro-content">

      <div class="intro-welcome">
        <h1 class='name'>Nicola Kollmann</h1>
      </div>

      <div class="intro-sub">
        <p>I'm a data-lover, story-teller, and open source enthusiast. Find more information about my education and experience in my <a href="/files/CV.pdf">CV</a>. Wit beyond measure is man's greatest treasure.</p>
      </div>

      <div class="intro-more">
        <p>PhD candidate in Finance at <a href='https://www.unisg.ch'>The University of St.Gallen</a></p>
        <div class="intro-buttons">
          {{ partial "social-icons.html" .}}
        </div>
      </div>

      <div class='intro-social'>

      </div>

    </div>

  </div>
</section>
