/**
 * Groovy Theme
 * Inspired by the Gruvebox https://github.com/highlightjs/highlight.js/blob/master/src/styles/gruvbox-dark.css
 * Author : Nicola Kollmann - https://github.com/NicolaKollmann
 */

.hljs {
  display: block;
  background: #1d1f21;
  padding: 1em;
  color: #c5c8c6;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #99cc99;
}

.hljs-keyword,
.hljs-type {
  color: #81a2be;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #8ec07c;
}

.hljs-section,
.hljs-name {
  color: #eeaabe;
}

.hljs-tag {
  color: #abacb1;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}
