:root {
  --titleFont: 'Montserrat', sans-serif;
  --bodyFont: 'Circi', sans-serif;
  --annotationFont: 'Avenir', sans-serif;
  --gray: #999999;
  --grayDark: #2E343B;
  --white: #FFFFFF;
  --black: #000000;
  --buttonDark: #404685;
  --shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  --shadowHover: 0px 1px 2px rgba(0, 0, 0, 0.5);
  --fastFade: 0.1s ease;
  --slowFade: 0.3s ease;
  --radius: 5px;
}

body.light{
  --accent: #004c4c; /* magenta */
  --content: #1A2849; /* dark blue */
  --tertiary: #696E84; /* mid blue */
  --page: #cce5e5; /* light teal */
  --drawer: #cce5e5;
  --mainShadow: 0px 2px 3px rgba(26, 51, 51, 0.3);
  --mainShadowHover: 0px 10px 20px rgba(26, 51, 51, 0.2);
  --elevation: #f3f9f9; /* very light teal */
  --elevationHover: #FFFFFF; /* white */
  --introGradient: linear-gradient(180deg, #d9ecec 0%, var(--page) 100%);
  --codeBG: #FFFFFF;
  --codeFont: #C81937;
}

body.dark{
  --accent: #FFF9F9; /* cream */
  --content: #FFF9F9; /* cream */
  --tertiary: #C4C4CA; /* light gray */
  --page: #0e1b1b; /* dark teal */
  --drawer: #0e1b1b;
  --mainShadow: 0px 2px 3px rgba(14, 27, 27, 0.3);
  --mainShadowHover: 0px 10px 20px rgba(14, 27, 27, 0.3);
  --elevation: #1b3535; /* light blue */
  --elevationHover: #224242; /* lighter blue */
  --introGradient: linear-gradient(180deg, #142828 0%, var(--page) 100%);
  --codeBG: rgba(37, 45, 62, 0.4);
  --codeFont: #82B4E3;
}

body{
  --focus: 0 0 3px 1px var(--accent); /* accessible glow */
  --drawerGradient: linear-gradient(270deg, var(--drawer) 0%, rgba(122,122,122,0) 2%, rgba(122,122,122,0) 98%, var(--drawer) 100%);
}
